body {
	font-family: 'Alegreya', serif;
	background-color: #A3A3A8;
	background-image: url('/img/lightgray.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.homepageHeader {
	background-image: url('/img/city_header.jpg');
	background-size: 100%;
	background-position: bottom;
}

.jjcAdlister {
	color: white;
	font-size: 11vw;
	text-shadow: 5px 5px #422724;
}

.navbar {
	background-color: #422724;
	font-size: 1.5vw;
	border: 0px;
}

.searchBar {
	width: 45vw;
	color: #422724;
	outline: 2px solid #422724;
}

.searchBarNavbar {
	width: 25vw;
	color: #422724;
	outline: 1px solid #422724;
	height: 2vw;
	float: left;
	font-size: 1vw;
}

.searchSubmit {
	width: 10vw;
	color: #422724;
	background-color: white;
	border: 1px solid #422724;
}

.searchSubmitNavbar {
	width: 5vw;
	color: #422724;
	background-color: white;
	border: 1px solid #422724;
	height: 2vw;
}

.invisibleTwo {
	font-size: 1vw;
}

.invisibleThree {
	font-size: 2vw;
}

.invisibleFour {
	font-size: 4vw;
}

.featureListingHeader {
	color: #422724;
	font-size: 6vw;
}

.featureItem {
	text-align: center;
	color: white;
	background-color: #422724;
	font-size: 2vw;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-left > li:nth-child(3) > a {
	color: white;
}

#mainNav > div > div.navbar-header.page-scroll > button {
	background-color: #422724;
	color: #A3A3A8;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-left > li:nth-child(2) > a {
	color: white;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-left > li:nth-child(2) > a:hover {
	font-style: italic;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-left > li.active > a {
	background-color: #A3A3A8;
	color: #422724;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(2) > a {
	color: white;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(2) > a:hover {
	font-style: italic;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(3) > a {
	color: white;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(3) > a:hover {
	font-style: italic;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(4) > a {
	color: white;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(4) > a:hover {
	font-style: italic;
}

.searchHeader {
	color: white;
	font-size: 2vw;
}

.searchNavbar {
	color: white;
	font-size: 1vw;
}

.loginSignupBox {
	border: 2px solid #422724;
}

hr {
	border: 1px solid #422724;
}

.loginSignupHeader {
	color: #422724;
	font-size: 5vw;
	text-align: center;
}

.loginHeaders {
	color: #422724;
	font-size: 2vw;
}

.loginSignupInput {
	background-color: #422724;
	outline: 1px solid #422724;
	box-shadow: none;
	color: white;
	height: 2.5vw;
	width: 100%;
}

.loginSignupButton {
	width: 30%;
	background-color: white;
	border: 1px solid #422724;
	color: #422724;
	font-size: 1.5vw;
}

.accountWelcome {
	font-size: 3.5vw;
	color: #422724;
}


.title {
	color: white;
	font-size: 2.5vw;
	text-align: center;
}

.summary {
	color: white;
	font-size: 1.5vw;
	text-align: center;
}

.createTitle {
	color: #422724;
	font-size: 4.5vw;
	text-align: center;
}

.createBody {
	border: 2px solid #422724;
}


body > div:nth-child(5) > a {
	color: #422724;
	font-size: 2vw;
}

body > div:nth-child(5) > a:hover {
	color: #422724;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
}

body > div:nth-child(6) > a {
	color: #422724;
	font-size: 2vw;
}

body > div:nth-child(6) > a:hover {
	color: #422724;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
}

body > div:nth-child(7) > a {
	color: #422724;
	font-size: 2vw;
}

body > div:nth-child(7) > a:hover {
	color: #422724;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
}

.accountOptions {
	text-align: center;
}

.accountListings {
	border: 1px solid #422724;
	padding: 10px;
}

.personalItem {
	font-size: 2vw;
	background-color: #422724;
	color: white;
	text-align: center;
}

.createHeaders {
	color: #422724;
	font-size: 2vw;
}

input {
	font-size: 2vw;
	border: 1px solid #422724;
}

textarea {
	font-size: 2vw;
	border: 1px solid #422724;
}

.createDescription {
	background-color: #422724;
	outline: 1px solid #422724;
	box-shadow: none;
	color: white;
	height: 20vw;
	width: 100%;
}

.navbar-form {
    display: flex;
    align-items: center;
}


.listing {
	background-color: #422724;
	background-size: cover;
	background-repeat: no-repeat; 
	margin-bottom: 5%;
}


#lightbox {

  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
  -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
}

.loginSignupQuestion {
	font-size: 1.5vw;
	color: #422724;
	text-align: center;
	padding-top: 5%;
}

.characterLimit {
	font-size: 1vw;
	color: #422724;
}

.portfolio-caption {
	text-align: center;
}

.portfolio-item {
	background-color: #422724;
	margin-bottom: 5%;
	color: white;
}

.text-muted {
	color: white;
	opacity: .7;
}

.img {
    height: 300px;
    width: 500px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}


#portfolio-modal > div > div > div.container > div > div > div > button {
	background-color: #422724;
}

.background {
	background-image: url('/img/lightgray.jpg');
	color: #422724;
}

h1 {
	font-size: 5vw;
}






